/*-------------------------------------------COMMON--------------------------*/

body {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(172, 161, 221);
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
